*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #ecfaff;
}
.scrolling-active{
	background: #FFF;
	box-shadow: 0 3px 1rem rgba(0, 0, 0,.1);
}
.nav-item{
	padding-left: 30px;
}
.nav-link{
	font-size: 18px;
	color: #003a74;
}
.link-headline{
	color: black;
	text-decoration: none;
}
.text-justify{
	font-size: 18px;
	text-align: justify;
}
.search{
    padding: 7px;
    width: 350px;
    outline: none;
    border-radius: 4px;
}
